.container{
  margin-bottom: 20px;
}


.product {
  margin-top: 20px;
  margin-left: 30px;
  text-align: center;
  
}

img {
  width: 600px
}

div.description {
  margin-left: 70px;
}

p.price {
  font-weight: bolder;
 
}

span.red{
  color:red;
}

div.modal {
  display:none;
  position: fixed;
  top: 10vh;
  left: 30vw;
  width: 600px;
  height: 600px;
  background-color: antiquewhite;
  opacity: 0%;
}

div.modal p {
  color: darkblue;
}

div.fulladdress{
  margin-left: 40px;
  margin-top: 40px;
}

div.thanks{
  margin-left: 30px;
  margin-top: 30px;
}

div.fulladdress p {
  margin: 0;
}


div.fulladdress p:first-of-type{
  margin-bottom: 20px;
}